# Automatically publishes new releases to WinGet
# Requires WINGET_TOKEN secret (GitHub PAT with public_repo scope)

name: Publish to WinGet

on:
  release:
    types: [published]

jobs:
  publish-winget:
    runs-on: windows-latest
    if: ${{ !github.event.release.prerelease }}
    steps:
      - name: Publish to WinGet
        uses: vedantmgoyal9/winget-releaser@v2
        with:
          identifier: seb07-cloud.AVDHealthMonitor
          installers-regex: '\.msi$'
          token: ${{ secrets.WINGET_TOKEN }}
